.page-container {
    display: flex;
    background-color: #F5F6FA;
    min-height: 100vh;
    max-height: 100vh;
}

.main-content {
    flex: 1;
    margin-left: 18%;
    padding: 20px;
    background-color: #F5F6FA;
    overflow: hidden;
}
