* {
  box-sizing: border-box;
}

.reservation-detail {
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
  border-radius: 0.5rem;
  margin: 1rem;
}
.name {
    color: #6C757D;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}   
.labeldash {
    color: #6C757D;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -14px;
}
.id {
    color: #1B263B;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.detail-section {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}
.left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;
    box-sizing: border-box;
}
.right {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chartcard {
    border-radius: 30px;
    background: #FFF;
    width: 100%;
}
.avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
  max-width: 100%;
}
.avatar-block {
  display: flex;
  align-items: center;
  gap: 24px;
}

.rdata {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    width: 100%;
}
.ldatacontainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
}
.datacontainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.label {
    color: #1B263B;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
.rcontent {
    color: #6C757D;
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bold {
    color: #1B263B;
    text-align: right;
    font-family: Inter; 
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 8px;
}
.rguest {
    color: #1B263B;
    text-align: right;
    font-family: Inter; 
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 10%;
}
.line {
    height: 1px;
    color: #1B263B;
    opacity: 0.5;
    padding: 8px;
}
.vertical-line {
    width: 1px;
    height: 100px; /* hoặc bao nhiêu chiều cao bạn muốn */
    background-color: #1B263B;
    opacity: 0.5;
    border: none;
    transform: rotate(0deg); /* không cần xoay thực sự */
    margin: 0 12px;
}
.data2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.rinput {
    border-radius: 30px;
    border: 1px solid #0077B6;
    background: #F0F8FF;
    width: 100%;
    color: #0077B6;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;
    height: 120px;
    padding: 16px
}

.roomNo {
    border-radius: 30px;
    border: 1px solid #0077B6;
    background: #F0F8FF;
    width: 100px;
    color: #0077B6;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;
    height: 40px;
    padding: 8px;
    margin-left: 4px;
}
.decReason {
    border-radius: 30px;
    border: 1px solid #0077B6;
    background: #F0F8FF;
    width: 300px;
    color: #0077B6;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;
    height: 40px;
    padding: 8px;
}
.status-dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.status-button {
    display: flex;
    width: 148px;
    height: 40px;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    cursor: pointer;
}


.status-button.confirmed {
    background: var(--Primary-Primary-50, #E8F1FD);
    color: var(--Primary-Primary-400, #448DF2);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
}

.status-button.declined {
    background: var(--Error-Error-50, #FEECEB);
    color: var(--Error-Error-400, #F36960);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
}

.status-button.awaiting {
    background: var(--Success-Success-50, #E7F8F0);
    color: var(--Success-Success-400, #41C588);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
}


.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 6px;
    padding: 4px;
    border-radius: 16px;
    background: #FFF;
    list-style: none;
    width: 155px;
    box-shadow: 8px 3px 22px 10px rgba(150, 150, 150, 0.11);
    z-index: 999;

}

.dropdown-item {
    display: flex;
    width: 148px;
    height: 40px;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 4px;
}


.dropdown-item.confirmed {
    background: var(--Primary-Primary-50, #E8F1FD);
    color: var(--Primary-Primary-400, #448DF2);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
}

.dropdown-item.declined {
    background: var(--Error-Error-50, #FEECEB);
    color: var(--Error-Error-400, #F36960);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
}

.dropdown-item.awaiting {
    background: var(--Success-Success-50, #E7F8F0);
    color: var(--Success-Success-400, #41C588);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
}
.but {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 8px;
    cursor: pointer;
}
.save-button {
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #005F94;
    background: #0077B6;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    margin-top:8px;

}
.return-button {
    border-radius: 30px;
    border: 1px solid #0077B6;
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    color: #0077B6;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    background: transparent;
}

